body{
    margin:0;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 99vh;
}

/*
==========================
frame
==========================
*/
.frame{
    width: 750px;
    padding: 10px;
    background-color: #FBFE6A;
    display:grid;
    grid-template-rows: 2rem 650px 1fr;
    border-radius: 30px;
    box-shadow: 3px 3px 5px gray;
}

.content{
    align-self: center;
    justify-self: center;
    display:grid;
    border: 1px solid black;
    height: 650px;
    width: 650px;
    background-color: #f4eded;
    box-shadow: inset 0 0 10px black;
}

.frame-name{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Pacifico', cursive;
    font-family: 'Climate Crisis', cursive;
    font-family: 'Gajraj One', cursive;
    font-size: 2rem;
    
}

.size-selection{
    --height: 400px;
    --width: 300px;
    --padding-top-bottom: 20px;
    --padding-left-right: 30px;
    position:absolute;
    top: calc(50% - (var(--height) / 2)
         - (var(--padding-top-bottom) / 2));
    left: calc(50% - (var(--width) / 2)
         - (var(--padding-left-right) / 2));
    height: var(--height);
    width: var(--width);
    background-color: rgb(233, 233, 233);
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 3px 3px 5px gray;
    padding: var(--padding-top-bottom)
         var(--padding-left-right);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.size-selection>.instruction{
    font-size: 2rem;
    font-weight: 600;
}

.size-selection>.choices{
    display: flex;
    flex-direction: column;
    height: 80%;
    align-items: center;
    justify-content: space-evenly;
}

.size-selection-item{
    width: 170px;
    height: 70px;
    font-size: 2rem;
    font-weight: 600;
}
.cell{
    border: 1px solid black;
    cursor: pointer;
}

/*
menu
*/

.menu{
    align-self: center;
    justify-self: center;
    margin: 10px 10px 0px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100px;
}

.slide-eraser{
    grid-column: 1 / -1;
    padding: 0px 20px
}

.slide-eraser>input{
    display:block;
    width: 660px;
}



.menu-icons{
    width: 90px;
    height: 90px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.menu-icons:hover{
    width: 95px;
    height: 95px;
    box-shadow: 5px 5px 5px gray;
}

.pen-color{
    display: grid;
    grid-template-rows: 95px 1fr;
}

.color-selection{
    margin: 0 10px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.color-selection-item{
    width: 50px;
    height: 50px;
    box-shadow: 2px 2px 5px lightgray;
    border-radius: 50%;
    cursor: pointer;
}

.color-selection-item:hover{
    box-shadow: 5px 5px 5px gray;
}

.selected{
    border: 1px solid black;
    box-shadow: 5px 5px 5px gray;
}

.color-selection-item.red{
    background-color: red;
}

.color-selection-item.blue{
    background-color: blue;
}

.color-selection-item.green{
    background-color: green;
}

.color-selection-item.rnd_rgb{
    background: linear-gradient(red, green, blue);
}

.eraser{
    display: flex;
}

.eraser-icons{
    display: block;
    margin: auto 10px auto auto;
    width: auto;
    height: 50px;
    cursor: pointer;
}

.eraser-icons:hover{
    box-shadow: 2px 2px 5px black;
}

.eraser-icons:active{
    box-shadow: inset 2px 2px 5px black;
}



