body{
    margin:0;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 99vh;
}

.content{
    display:grid;
    border: 1px solid black;
    height: 700px;
    width: 700px;
    
}

.size-selection{
    --height: 400px;
    --width: 300px;
    --padding-top-bottom: 20px;
    --padding-left-right: 30px;
    position:absolute;
    top: calc(50% - (var(--height) / 2)
         - (var(--padding-top-bottom) / 2));
    left: calc(50% - (var(--width) / 2)
         - (var(--padding-left-right) / 2));
    height: var(--height);
    width: var(--width);
    background-color: rgb(233, 233, 233);
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 3px 3px 5px gray;
    padding: var(--padding-top-bottom)
         var(--padding-left-right);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.size-selection>.instruction{
    font-size: 2rem;
    font-weight: 600;
}

.size-selection>.choices{
    display: flex;
    flex-direction: column;
    height: 80%;
    align-items: center;
    justify-content: space-evenly;
}

.size-selection-item{
    width: 170px;
    height: 70px;
    font-size: 2rem;
    font-weight: 600;
}
.cell{
    border: 1px solid black;
    cursor: pointer;
}

/*
menu
*/

.menu{
    margin-right: 100px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 130px;
    height: 700px;
    padding:20px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px gray;
}



.menu-icons{
    width: 90px;
    height: 90px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.menu-icons:hover{
    width: 95px;
    height: 95px;
    box-shadow: 5px 5px 5px gray;
}

.pen-color{
    display: grid;
    grid-template-rows: 95px 1fr;
}

.color-selection{
    margin: 0 auto;
    display: none;
    grid-template-columns: 50px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.show{
    display: grid;
}

.color-selection-item{
    width: 100%;
    box-shadow: 2px 2px 5px lightgray;
    border-radius: 50%;
    cursor: pointer;
}

.color-selection-item:hover{
    box-shadow: 5px 5px 5px gray;
}

.selected{
    border: 1px solid black;
    box-shadow: 5px 5px 5px gray;
}

.color-selection-item.red{
    background-color: red;
}

.color-selection-item.blue{
    background-color: blue;
}

.color-selection-item.green{
    background-color: green;
}



